.header_posts {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
}

.posts {
display: grid;
grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    background-color: #eee;
    padding: 5px;
    margin: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
}
