.header_posts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
}

.paper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  margin: 15px 3%;
  padding: 15px 0;
  cursor: pointer;
}

.paper:hover {
  transform: scale(1.01);
}

.link {
  text-decoration: none;
}