.header_posts {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.posts {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: 5px;
    margin: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
}
