.content {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  text-align: center;
}

.block {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 0 5%;
}

.input {
  width: 90%;
}

.display_messages {
  background-color: rgb(226, 194, 255);
  padding-top: 10px;
  margin: 5%;
  border: 3px solid;
  border-radius: 10px;

  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.messages {
  display: flex;
  padding: 10px;
}

.message {
  background-color: rgb(106, 0, 206);
  box-sizing: content-box;
  color: white;
  padding: 10px;
  margin: 0 20px;
  border-radius: 10px;
}