.content {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.user {
  text-align: center;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  padding-bottom: 25px;
}

.avatarYes {
  width: 150px;
  border-radius: 20%;
}

.avatarNo {
  margin: 0 auto;
}