.content {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.paper {
  text-align: center;
  width: 300px;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 25px;
}