.content {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.users {
  display: inline-flex;
}

.paper {
  text-align: center;
  width: 450px;
  margin: 20px;
  padding-top: 10px;
  cursor: pointer;
}

.paper:hover {
  transform: scale(1.03);
}