.motionTwo {
  background-color: rgb(24, 24, 24);
  text-align: center;
  padding: 50px 0;
}

.MenuItem {
  display: flex;
  justify-content: space-around;
  background-color: #aaa;
  margin: 50px;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.item {
  font-weight: 700;
  font-size: 20px;
}

.line {
  width: 100%;
  height: 4px;
  bottom: -6px;
  background-color: rgb(255, 0, 0);
}